<div class="content-wrapper">
  <div class="content-box">
    <h1>Welcome Citizen</h1>
    <h2>I am fake raspberry 3.14</h2>
    <h2>Use me {{smiley$ | async}}</h2>
    <div>
      <mat-icon class="material-icons-outlined">water_drop</mat-icon>
      <mat-slider thumbLabel aria-label="unit(s)"></mat-slider>
      <span></span>
    </div>
    <div>
      <mat-icon class="material-icons-outlined">thermostat</mat-icon>
      <mat-slider min="-15" max="60" thumbLabel aria-label="unit(s)"></mat-slider>
      <span></span>
    </div>
    <button color="primary" mat-button>Let's party</button>
  </div>
</div>